#!/bin/sh

echo "Epilogue Args:"
echo "job id: $1"
echo "job execution user name: $2"
echo "job execution group name: $3"
echo "job name: $4"
echo "session id: $5"
echo "list of requested resource limits: $6"
echo "list of resources used by job: $7"
echo "job execution queue: $8"
echo "job account: $9"
echo "job exit code: $10"
echo ""

exit 0
